{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container d-flex justify-content-center bg-info p-3 w-50 mt-5">
        <form action="" method="post" class="text-center">
            {% csrf_token %}
            <div class="mb-3 form-group">
                <label for="username" class="form-label">Login</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3 form-group ">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            {% if has_error %}
                <p class="form-error">Неверное имя пользователя или пароль</p>
            {% endif %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</body>
</html>